# deps / pnpm
**/node_modules
**/.pnpm
.pnpm-store
**/.turbo
**/.cache

# next / build outputs
**/.next
**/dist
**/out
.vercel

# git + misc
.git
.github
.DS_Store

# logs
**/*.log

# optional (big folders you don't need in Docker build context)
reports
fixtures
playwright-report
test-results